/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:’’;
  content:none;
}
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/* Your Code Goes Here */


* {
  box-sizing: border-box;
}

.container {
  max-width: 1025px;
  width: 100%;
  margin: auto;
  font-family: 'Roboto', Arial, sans-serif;
}


// Header and NavBar
header {
  width: 100%;
  position: sticky;
  top: 0%;
  z-index: 10;
}

.nav {
  display: flex;
  background-color: #98a4ae;
  opacity: 0.85;
  justify-content: space-between;
  padding: 13px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 7%;
}

.inspire {
  position: relative;
  display: inline-block;
}

.jumboPic {
  width: 100%;
  margin-top: -50px;
}

.jumboHeaders {
  position: absolute;
  top: 275px;
  left: 80px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF
}

// End of Header and NavBar

// CTA

.subHeader {
  font-weight: bold;
  font-size: 24px;
  color: #222222;
}

.ctaOne {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  // justify-content: space-evenly;
}

.ctaTwo {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    // justify-content: space-evenly;
}

.ctaOnePic {
  width: 40%;

}

.ctaTwoPic {
  width: 40%;
  margin-left: 85px;

}

.ctaText {
  width: 40%;
  margin-left: 85px;
  margin-right: 35px;
  padding-top: 47px;
}

.ctaTextTwo {
  width: 40%;
  margin-left: 30px;
  margin-right: 35px;
  padding-top: 40px;
}

.ctaFiller {
  padding-top: 25px;
  line-height: 22px;
}

.ctaButton {
  height: 48px;
  width: 135px;
  text-align: center;
  padding-top: 15px;
  margin-top: 27px;
  border: 1px solid black;
}

// End of CTA

// Recent Projects

.recProg {
  margin-top: 96px;
  margin-left: 85px;
  width: 250px;
}

.recentHead {
  position: relative;
  display: inline-block;
}
.recentPic {
  margin-top: 45px;
  margin-left: 83px;
}

.oddText {
  position: absolute;
  right: 0px;
  bottom: -33px;
  width: 315px;
  height: 90px;
  padding-top: 33px;
  padding-left: 5px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 8px;
  border: 1px solid white;
  background-color: #d8d8d8;
}

.evenText {
  position: absolute;
  left: 82px;
  bottom: -33px;
  width: 315px;
  height: 90px;
  padding-top: 33px;
  padding-left: 5px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 8px;
  border: 1px solid white;
  background-color: #d8d8d8;
}

.recentInfo {
  width: 43%;
  position: relative;
  margin-left: 285px;
  margin-top: 85px;
  margin-bottom: 49px;
  height: 300px;
  line-height: 24px;
  font-size: 18px;
}

// END recent projects

// Footer

.footer {
  background-color: #828282;
  height: 225px;
  margin-top: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #ffffff;
}

.footHead {
  font-size: 20px;
  line-height: 24px;
}
.interest {
  margin-top: 60px;
  width: 28%;
  margin-left: 23px;
}

.email {
  height: 40px;
  width: 97%;
  border-radius: 3px;
  border: none;
  margin-top: 15px;
  font-size: 15px;
  padding-bottom: 2px;
}

.interest p {
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 0.5px;
}
.locations {
  width: 15%;
  line-height: 26px;
  margin-top: 60px;
}

address {
  font-size: 14px;
}
.copyright {
  text-align: center;
  color: #FFFFFF;
  height: 20px;
  font-size: 12px;
  background-color: #828282;
}
// End Footer 