/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Your Code Goes Here */

* {
  box-sizing: border-box;
}

.container {
  max-width: 1025px;
  width: 100%;
  margin: auto;
  font-family: "Roboto", Arial, sans-serif;
  @media (max-width: 500px) {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
}

// Header and NavBar
header {
  width: 100%;
  position: sticky;
  top: 0%;
  z-index: 10;
}

nav {
  position: absolute;
  width: 100%;
}
.nav {
  display: flex;
  background-color: #98a4ae;
  opacity: 0.9;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 34px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 3px;
  transition: 0.4s;
}

.menuButton {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 60px;
  z-index: 3;
  margin-right: 60px;
  @media (max-width: 500px) {
    margin-right: 0px;
  }
}

.links {
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  padding-top: 200px;
  background-color: #98a4ae;

  .menuLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    height: 60px;
    &:hover {
      color: rgb(75, 75, 75);
    }
  }
}

.hidden {
  display: none;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}
.logo {
  font-weight: bold;
  z-index: 1;
  font-size: 24px;
  height: 40px;
  color: #ffffff;
  margin-left: 7%;
  @media (max-width: 500px) {
    width: 30px;
  }
}

.inspire {
  position: relative;
  display: inline-block;
  @media (max-width: 500px) {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
}

.jumboPic {
  width: 100%;
  position: relative;
  margin-top: -55px;
  @media (max-width: 500px) {
    margin-top: 0px;
  }
}

.jumboHeaders {
  position: absolute;
  top: 275px;
  left: 80px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
  @media (max-width: 500px) {
    top: 60px;
    left: 10px;
    font-size: 32px;
    line-height: 40px;
  }
}

// End of Header and NavBar

// CTA

.subHeader {
  font-weight: bold;
  font-size: 24px;
  color: #222222;
}

.ctaOne {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  // justify-content: space-evenly;
  @media (max-width: 500px) {
    max-width: 500px;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    margin-top: 20px;
    width: 100%;
  }
}

.ctaTwo {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  // justify-content: space-evenly;
  @media (max-width: 500px) {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
}

.ctaOnePic {
  width: 40%;
  @media (max-width: 500px) {
    width: 90%;
    align-self: center;
  }
}

.ctaTwoPic {
  width: 40%;
  margin-left: 85px;
  @media (max-width: 500px) {
    width: 90%;
    margin-left: 0px;
    align-self: center;
  }
}

.ctaText {
  width: 40%;
  margin-left: 85px;
  margin-right: 35px;
  padding-top: 47px;
  @media (max-width: 500px) {
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
  }
}

.ctaTextTwo {
  width: 40%;
  margin-left: 30px;
  margin-right: 35px;
  padding-top: 40px;
  @media (max-width: 500px) {
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
  }
}

.ctaFiller {
  padding-top: 25px;
  line-height: 22px;
  @media (max-width: 500px) {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
}

.ctaButton {
  height: 48px;
  width: 135px;
  text-align: center;
  padding-top: 15px;
  margin-top: 27px;
  border: 1px solid black;
  @media (max-width: 500px) {
    width: 95%;
    margin-left: 5px;
  }
}

// End of CTA

// Recent Projects

.recProg {
  margin-top: 96px;
  margin-left: 85px;
  width: 250px;
  @media (max-width: 500px) {
    margin-top: 20px;
    margin-left: 35px;
    width: 100%;
  }
}

.recentHead {
  position: relative;
  display: inline-block;
}
.recentPic {
  margin-top: 45px;
  margin-left: 83px;
  @media (max-width: 500px) {
    margin-left: 0;
  }
}

.oddText {
  position: absolute;
  right: 0px;
  bottom: -33px;
  width: 315px;
  height: 90px;
  padding-top: 33px;
  padding-left: 5px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 8px;
  border: 1px solid white;
  background-color: #d8d8d8;
  @media (max-width: 500px) {
    right: 20px;
    width: 90%;
  }
}

.evenText {
  position: absolute;
  left: 82px;
  bottom: -33px;
  width: 315px;
  height: 90px;
  padding-top: 33px;
  padding-left: 5px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 8px;
  border: 1px solid white;
  background-color: #d8d8d8;
  @media (max-width: 500px) {
    max-width: 500px;
    left: 25px;
    width: 90%;
  }
}

.recentInfo {
  width: 43%;
  position: relative;
  margin-left: 285px;
  margin-top: 85px;
  margin-bottom: 49px;
  height: 300px;
  line-height: 24px;
  font-size: 18px;
  @media (max-width: 500px) {
    max-width: 500px;
    align-content: center;
    width: 100%;
    margin-left: 10px;
  }
}

// END recent projects

// Footer

.footer {
  background-color: #828282;
  height: 225px;
  margin-top: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #ffffff;
  @media (max-width: 500px) {
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
  }
}

.footHead {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.interest {
  margin-top: 60px;
  width: 28%;
  margin-left: 23px;
  @media (max-width: 500px) {
    width: 90%;
  }
}

.email {
  height: 40px;
  width: 97%;
  border-radius: 3px;
  border: none;
  margin-top: 15px;
  font-size: 15px;
  padding-bottom: 2px;
}

.interest p {
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 0.5px;
}
.locations {
  width: 15%;
  line-height: 26px;
  margin-top: 60px;
  @media (max-width: 500px) {
    width: 90%;
    padding-left: 20px;
    margin-top: 40px;
  }
}

address {
  font-size: 14px;
}
.copyright {
  text-align: center;
  color: #ffffff;
  height: 20px;
  font-size: 12px;
  background-color: #828282;
  @media (max-width: 500px) {
    text-align: left;
    padding-left: 15px;
    padding-top: 25px;
    height: 50px;
  }
}
// End Footer

// Services Page

.servicesHeaders {
  position: absolute;
  top: 100px;
  left: 75px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
  @media (max-width: 500px) {
    top: 60px;
    left: 10px;
    font-size: 32px;
    line-height: 40px;
  }
}

.introServices {
  padding-top: 70px;
  line-height: 30px;
  width: 75%;
  @media (max-width: 500px) {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
}

.tabs {
  width: 100%;
  .tabs-items {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin-bottom: 175px;
  }
  .tabs-item {
    display: none;
    width: 85%;
    .tabs-item-title {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 10px;
    }
  }
  .tabs-item-selected {
    display: block;
  }

  .tabs-item-description {
    display: flex;
    height: 315px;
    flex-direction: row;
    justify-content: space-between;
    .tabs-info {
      width: 49%;
      flex-direction: column;
      p {
        margin-bottom: 10px;
        line-height: 24px;
      }
    }
    img {
      width: 48%;
      height: 100%;
    }
  }
  .tabs-links {
    margin-left: 5%;
    margin-top: 50px;
    display: flex;
    background-color: #fff;
    justify-content: space-evenly;
    width: 90%;
  }

  .tabs-link {
    padding: 20px 25px;
    font-size: 24px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    &:hover {
      background-color: #5e9fb9;
      color: #fff;
    }
  }
  .tabs-link-selected {
    z-index: 2;
    background-color: #5e9fb9;
    color: black;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

// END Services Page
